node_reds.json
[{"id":"b0d65ac6.c03518","type":"tab","label":"Comms","disabled":true,"info":""},{"id":"3e1ef9b.d834d06","type":"tab","label":"Visual System","disabled":true,"info":""},{"id":"419160ae.54589","type":"tab","label":"NOCAN Examples","disabled":true,"info":""},{"id":"fc430072.626cd","type":"tab","label":"Test EXEC","disabled":false,"info":""},{"id":"f936c531.9d99d8","type":"tab","label":"Delta Motor Example Subflow","disabled":false,"info":""},{"id":"b06e862c.784df8","type":"subflow","name":"4 Stepper control","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"ffe0f1f8.ea2a4"}]}],"out":[{"x":680,"y":300,"wires":[{"id":"281e05e2.ce072a","port":0}]},{"x":980,"y":20,"wires":[{"id":"61a872c7.02beac","port":0}]}],"env":[],"inputLabels":["Delta Arguments"],"outputLabels":["Nocan Publish Response","Nocan Read Responce"],"icon":"node-red/alert.png"},{"id":"51d25390.5bc1cc","type":"rpi-gpio out","z":"b0d65ac6.c03518","name":"","pin":"8","set":"","level":"0","freq":"","out":"out","x":550,"y":260,"wires":[]},{"id":"2161f6b2.67a87a","type":"rpi-gpio in","z":"b0d65ac6.c03518","name":"","pin":"10","intype":"tri","debounce":"25","read":false,"x":170,"y":320,"wires":[["4a30e554.1045dc"]]},{"id":"57723af1.b7e2f4","type":"mqtt out","z":"b0d65ac6.c03518","name":"","topic":"","qos":"","retain":"","x":390,"y":400,"wires":[]},{"id":"bec38c87.dc7bd","type":"mqtt in","z":"b0d65ac6.c03518","name":"","topic":"","qos":"2","datatype":"auto","x":190,"y":140,"wires":[["cca8664a.66a128"]]},{"id":"cca8664a.66a128","type":"function","z":"b0d65ac6.c03518","name":"Convert Serial Message","func":"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["2053d6a5.4fb6fa","f933e397.3e5f2"]]},{"id":"2053d6a5.4fb6fa","type":"trigger","z":"b0d65ac6.c03518","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","reset":"","bytopic":"all","name":"","x":440,"y":220,"wires":[["51d25390.5bc1cc"]]},{"id":"4a30e554.1045dc","type":"function","z":"b0d65ac6.c03518","name":"Omzlo Camzero Inputs","func":"\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":360,"wires":[["57723af1.b7e2f4"]]},{"id":"f933e397.3e5f2","type":"debug","z":"b0d65ac6.c03518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":140,"wires":[]},{"id":"a56669fd.071fd8","type":"mqtt in","z":"b0d65ac6.c03518","name":"","topic":"","qos":"2","datatype":"auto","x":140,"y":500,"wires":[["cfe688c2.a15e68"]]},{"id":"cfe688c2.a15e68","type":"json","z":"b0d65ac6.c03518","name":"Conver between JSON String & Object","property":"payload","action":"","pretty":false,"x":290,"y":540,"wires":[["d70c1e0e.2eb4e"]]},{"id":"d70c1e0e.2eb4e","type":"http response","z":"b0d65ac6.c03518","name":"Pimaster","statusCode":"","headers":{},"x":440,"y":580,"wires":[]},{"id":"5791f867.b68d58","type":"exec","z":"3e1ef9b.d834d06","command":"python piStreamCircles.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"FInd Circles","x":250,"y":160,"wires":[["dd2fb031.ff89"],[],[]]},{"id":"925076ce.e33c58","type":"inject","z":"3e1ef9b.d834d06","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["5791f867.b68d58"]]},{"id":"dd2fb031.ff89","type":"debug","z":"3e1ef9b.d834d06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":160,"wires":[]},{"id":"e875084.e2dc8f8","type":"exec","z":"419160ae.54589","command":"nocanc read-channel","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"NOCAN Read","x":340,"y":180,"wires":[["5d827ae1.ef7b74"],[],[]]},{"id":"47757b0.bb46384","type":"exec","z":"419160ae.54589","command":"nocanc publish ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"NOCAN Publish","x":340,"y":420,"wires":[["4288c053.6458c"],[],[]]},{"id":"6facd2cb.49f45c","type":"inject","z":"419160ae.54589","name":"","topic":"","payload":"\"Unit0/LED\" \"1\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":420,"wires":[["47757b0.bb46384"]]},{"id":"4288c053.6458c","type":"debug","z":"419160ae.54589","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":420,"wires":[]},{"id":"5d827ae1.ef7b74","type":"debug","z":"419160ae.54589","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":180,"wires":[]},{"id":"6c43c34.964de3c","type":"inject","z":"419160ae.54589","name":"","topic":"","payload":"\"Unit0/LED\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["e875084.e2dc8f8"]]},{"id":"de21470a.f037a8","type":"exec","z":"b06e862c.784df8","command":"python ~/stepperMotorController.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stepper Motor Control","x":160,"y":220,"wires":[["281e05e2.ce072a","e94a15e9.1e9778"],["e94a15e9.1e9778"],[]]},{"id":"281e05e2.ce072a","type":"exec","z":"b06e862c.784df8","command":"./nocanc publish \"Unit_0/Stepper_Control\" ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":460,"y":320,"wires":[[],[],[]]},{"id":"f08f780d.6ff468","type":"inject","z":"b06e862c.784df8","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["a2e75b1f.8ffb98"]]},{"id":"a2e75b1f.8ffb98","type":"exec","z":"b06e862c.784df8","command":"nocanc read-channel \"Unit0/Stepper_Control\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":40,"wires":[["61a872c7.02beac"],[],[]]},{"id":"498f950.1fbca6c","type":"link in","z":"f936c531.9d99d8","name":"Command","links":["9f1f0dc6.b3a44"],"x":195,"y":320,"wires":[["2eec433f.11176c"]]},{"id":"8b1b6e5b.3e22f","type":"link in","z":"f936c531.9d99d8","name":"Motor X","links":["100ce9e5.dcbb76"],"x":195,"y":360,"wires":[["474eefec.4e29a"]]},{"id":"3927f56e.0f233a","type":"link in","z":"f936c531.9d99d8","name":"Motor E","links":["c7bd881b.538798"],"x":195,"y":480,"wires":[["4e5843ea.be044c"]]},{"id":"55ca8fd0.96d14","type":"link in","z":"f936c531.9d99d8","name":"Motor Z","links":["25c774fb.a5f30c"],"x":195,"y":440,"wires":[["ff9459f8.2227b8"]]},{"id":"e74e8517.604518","type":"link in","z":"f936c531.9d99d8","name":"Motor Y","links":["13991c4d.919e44"],"x":195,"y":400,"wires":[["44ca69ca.4fdbd8"]]},{"id":"474eefec.4e29a","type":"function","z":"f936c531.9d99d8","name":"add --motor parameter","func":"msg.payload = \" -m1 \"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":360,"wires":[["4537241e.45b26c"]]},{"id":"44ca69ca.4fdbd8","type":"function","z":"f936c531.9d99d8","name":"add --motor parameter","func":"msg.payload = \" -m2 \"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":400,"wires":[["4537241e.45b26c"]]},{"id":"ff9459f8.2227b8","type":"function","z":"f936c531.9d99d8","name":"add --motor parameter","func":"msg.payload = \" -m3 \"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":440,"wires":[["4537241e.45b26c"]]},{"id":"4e5843ea.be044c","type":"function","z":"f936c531.9d99d8","name":"add --motor parameter","func":"msg.payload = \" -m4 \"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":480,"wires":[["4537241e.45b26c"]]},{"id":"2eec433f.11176c","type":"function","z":"f936c531.9d99d8","name":"add --command argument","func":"msg.payload = \" -c \"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["4537241e.45b26c"]]},{"id":"651e360b.eeeed8","type":"comment","z":"f936c531.9d99d8","name":"Edit python script to take in 5 arguments,  4 to init the motors and 1 for the command string (multiple can be parsed)","info":"Edit python script to take in 5 arguments, 4 to init the motors and 1 for the command string (multiple can be parsed)\n","x":490,"y":200,"wires":[]},{"id":"4537241e.45b26c","type":"subflow:b06e862c.784df8","z":"f936c531.9d99d8","name":"","env":[],"x":630,"y":400,"wires":[["3a7f6229.a5e5ce"],["9ab37c5.6d8168"]]},{"id":"29191013.370af","type":"comment","z":"f936c531.9d99d8","name":"Previous iteration required to uses a modified python shell node. This is no longer required due to proper use of the exec node and arguements","info":"","x":630,"y":260,"wires":[]},{"id":"9f1f0dc6.b3a44","type":"link out","z":"fc430072.626cd","name":"","links":["498f950.1fbca6c"],"x":455,"y":140,"wires":[]},{"id":"c7bd881b.538798","type":"link out","z":"fc430072.626cd","name":"","links":["3927f56e.0f233a"],"x":455,"y":300,"wires":[]},{"id":"25c774fb.a5f30c","type":"link out","z":"fc430072.626cd","name":"","links":["55ca8fd0.96d14"],"x":455,"y":260,"wires":[]},{"id":"100ce9e5.dcbb76","type":"link out","z":"fc430072.626cd","name":"","links":["8b1b6e5b.3e22f"],"x":455,"y":180,"wires":[]},{"id":"13991c4d.919e44","type":"link out","z":"fc430072.626cd","name":"","links":["e74e8517.604518"],"x":455,"y":220,"wires":[]},{"id":"ffe0f1f8.ea2a4","type":"join","z":"b06e862c.784df8","name":"Payloads into Array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":" \" \"","joinerType":"str","accumulate":false,"timeout":"0.01","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":190,"y":120,"wires":[["d1efb67b.5a6bd8"]]},{"id":"d1efb67b.5a6bd8","type":"function","z":"b06e862c.784df8","name":"Array to single payload","func":"var newMsg = { payload: [] };\nfor(var i=0; i<msg.payload.length; i++){\n    newMsg.payload += msg.payload[i];\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":220,"y":160,"wires":[["de21470a.f037a8","e94a15e9.1e9778"]]},{"id":"3a7f6229.a5e5ce","type":"debug","z":"f936c531.9d99d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":380,"wires":[]},{"id":"9ab37c5.6d8168","type":"debug","z":"f936c531.9d99d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":420,"wires":[]},{"id":"a7dcd88c.8776d8","type":"inject","z":"fc430072.626cd","name":"Send Command","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["52810bc7.bf2904","7181c4dc.062b4c"]]},{"id":"7181c4dc.062b4c","type":"function","z":"fc430072.626cd","name":"Init Motors","func":"msg.payload = \"800,1\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":280,"wires":[["25c774fb.a5f30c","c7bd881b.538798"]]},{"id":"52810bc7.bf2904","type":"function","z":"fc430072.626cd","name":"Command","func":"msg.payload = \"0.5,3,1,3200,4,0,2000\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["9f1f0dc6.b3a44"]]},{"id":"e94a15e9.1e9778","type":"debug","z":"b06e862c.784df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":220,"wires":[]},{"id":"61a872c7.02beac","type":"rbe","z":"b06e862c.784df8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":590,"y":40,"wires":[[]]},{"id":"6de766dc.425678","type":"comment","z":"b06e862c.784df8","name":"Read by exception only shows the output once it has changed so that it will not fill the debug menu with the same messsage","info":"","x":430,"y":80,"wires":[]},{"id":"5faac9e7.06b418","type":"inject","z":"fc430072.626cd","name":"Start Motors","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":460,"wires":[["2b1b8ba2.5eae04"]]},{"id":"2b1b8ba2.5eae04","type":"exec","z":"fc430072.626cd","command":"./nocanc publish \"Unit_0/Stepper_Control\" \"I00SA*\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":460,"wires":[[],[],[]]}]
