Omzlo_Flows.json
[{"id":"4048aaa7.f32214","type":"tab","label":"Visual System","disabled":false,"info":""},{"id":"56fe6ceb.fe6ce4","type":"exec","z":"4048aaa7.f32214","command":"python piStreamCircles.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"FInd Circles","x":250,"y":180,"wires":[["dba792fa.2d242"],[],[]]},{"id":"eb0ad5c4.0f3948","type":"inject","z":"4048aaa7.f32214","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["56fe6ceb.fe6ce4"]]},{"id":"dba792fa.2d242","type":"debug","z":"4048aaa7.f32214","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":180,"wires":[]}]